
<section class="newsletter-box inner-wide">
    <div class="inner">
        <h2 class="newsletter-box-title">Subscribe to my newsletter</h2>
        <p>Stay in the loop regarding smart IoT.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="{{ site.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate gh-subscribe-form container" style="flex-wrap: wrap" target="_blank" novalidate>
                <div style="width: 100%; margin-bottom: 10px; text-align:left">
                    <label class="checkbox subfield" for="gdpr_20525">
                        <input type="checkbox" id="gdpr_20525" name="gdpr[20525]" value="Y" class="av-checkbox gdpr"><span style="font-weight: normal">&nbsp;I accept to receive email</span>
                    </label>
                </div>
                <div style="display: flex; flex: auto">
                    <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
                    <input type="email" value="" name="EMAIL" class="required email subscribe-email" id="mce-EMAIL" placeholder="Your email address" required>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="margin-top: 0px">
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div><!-- .inner -->
    <p style="margin-top: 25px; font-size: small; max-width: 600px; margin-left: auto; margin-right: auto"">
        You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit the <a target="_blank" href="https://blog.polarize.ai/privacy-policy">privacy policy</a>.
    </p>
</section><!-- .widget -->
